.vp-cardsalePage {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100vh;
    width: 100%;
}

.vp-cardsale-main-container,
.vp-cardsale-content {
    display: 'flex';
    flex-direction: column;
    width: 100%;
    position: relative;
}

.vp-cardsale-content {
    margin-top: 8vh;
    padding: 2rem 3rem;
}

.vp-cardsale-content>* {
    margin-bottom: 2.5rem;
}