.vp-issueCardComp-cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 1rem;
}

.vp-issueCardComp-cardContainer > *:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

.vp-issueCardComp-card {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
  justify-content: flex-start;
}

.vp-card-icon {
  font-size: 2rem;
  color: var(--primary-color);
}

.vp-searchByMobNumberComp,
.vp-searchByMobNumber-innerComp {
  display: flex;
  width: 100%;
}

.vp-searchByMobNumberComp {
  align-items: center;
  justify-content: center;
}

.vp-searchByMobNumber-innerComp {
  align-items: flex-end;
  justify-content: space-between;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.vp-availableBranchListComp,
.vp-table {
  width: 100%;
}

table {
  border-collapse: collapse;
}

th, td {
    font-size: 0.8rem;
    padding: 1rem 2rem;
    text-align: start;
    text-wrap: nowrap;
}

.vp-table-headings thead {
  border-radius: 1.2rem 1.2rem 0rem 0rem;
  background-color: var(--grayShade0);
}

th {
  font-weight: bolder;
}

td {
    font-weight: light;
    color: var(--grayShade2);
}

tbody tr:nth-child(1n) {
  background-color: var(--grayShade);
}

tbody tr:nth-child(2n) {
  background-color: var(--grayShade0);
}

tbody tr:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

#vp-tableHeadingWithIcon {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

#vp-tableheader-icon {
    color: var(--grayShade2);
    font-size: 1.1rem;
}

.vp-table-footer {
  border-radius: 0rem 0rem 1.2rem 1.2rem;
  background-color: var(--grayShade0);
  color: var(--grayShade2);
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding: 1rem;
}

@media only screen and (max-width: 510px) {
  .vp-issueCardComp-cardContainer>*{
    width: 100% !important;
  }

  .vp-searchByMobNumber-innerComp {
    align-items: center;
  }
}