.vp-issueCardComp-cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.vp-issueCardComp-cardContainer>*:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

.vp-issueCardComp-card {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    gap: 0.5rem;
    justify-content: flex-start;
}

.vp-card-icon {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.vp-searchByMobNumberComp,
.vp-searchByMobNumber-innerComp {
    display: flex;
    width: 100%;
}

.vp-searchByMobNumberComp {
    align-items: center;
    justify-content: center;
}

.vp-searchByMobNumber-innerComp {
    align-items: flex-end;
    justify-content: space-between;
}

.vp-searchByMobNumberBtn {
    border-radius: 0.3rem;
    border: 1px solid var(--action);
    background-color: var(--white);
    color: var(--action);
    padding: 0.3rem 0.8rem;
    font-weight: bolder;
    font-size: 0.8rem;
}

.vp-searchByMobNumberBtn:hover {
    cursor: pointer;
}