@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  letter-spacing: 0.03em;
}

:root {
  --primary-color: #131A38;
  --secondary-color: #E7EDF1;
  --action: #618AF1;
  --white: #FFFFFF;
  --black: #000000;
  --grayShade: #F5F6F6;
  --grayShade0: #DFDFE0;
  --grayShade1: #BCBEC1;
  --grayShade2: #5A5A5C;
  --opaqueAction: rgba(78, 124, 215, 0.1);
  --opaqueBlack: rgba(0, 0, 0, 0.5);
  --error: #c02424;
  --success: #47a879;
  --warning: #C18B49;
  --opaqueSuccess: rgba(136, 251, 195, 0.9);
  --opaqueError: rgba(252, 135, 135, 0.9);
  --opaqueWarning: rgba(253, 225, 125, 0.9);
}

@media only screen and (max-width: 1200px) {
  html{
    font-size: 14px;
  }
}