@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  letter-spacing: 0.03em;
}

:root {
  --primary-color: #0c0e38;
  --secondary-color: #eaecf0;
  --action: #507EF3;
  --white: #FFFFFF;
  --black: #000000;
  --grayShade: #f9f9f9;
  --grayShade0: #f0f0f0;
  --grayShade1: #d3d4d6;
  --grayShade2: #6c6c6e;
  --opaqueAction: rgba(255, 255, 255, 0.1);
  --opaqueBlack: rgba(0, 0, 0, 0.5);
  --error: #c02424;
  --success: #47a879;
  --warning: #C18B49;
  --selectedTile: rgb(69, 152, 240);
  --opaqueSuccess: rgba(136, 251, 195, 0.9);
  --opaqueError: rgba(252, 135, 135, 0.9);
  --opaqueWarning: rgba(253, 225, 125, 0.9);
}

@media only screen and (max-width: 1200px) {
  html{
    font-size: 14px;
  }
}